<div>
  <h2 mat-dialog-title>Create new tag item</h2>
  <mat-dialog-content>
    <form class="example-form">

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="name" [(ngModel)]="tagItem.name" name="name" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="url" [(ngModel)]="tagItem.url" name="link" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="topics" [(ngModel)]="tagItem.topics" name="topics" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="description" [(ngModel)]="tagItem.description" name="description">
            </mat-form-field>
          </td>
        </tr>
      </table>

    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-flat-button [mat-dialog-close]="true" color="primary">Create</button>
    <button mat-flat-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</div>
