<mat-card *ngFor="let client of clients">
  <a mat-flat-button routerLink="{{client.id}}">
  <mat-card-title>{{client.firstName}} {{client.lastName}}</mat-card-title>
  </a>
  <mat-card-subtitle *ngIf="client.nickName">{{client.nickName}}</mat-card-subtitle>
  <mat-card-content>
    {{client.address}} <br>
    {{client.zip}} {{client.city}} <br>
    <div *ngIf="client.country!=='Schweiz' && client.country!=='Switzerland'">{{client.country}}</div>
    <br>
    <i class="material-icons my-icon">call</i> {{client.phoneNumber}} <br>
    <i class="material-icons my-icon">mail_outline</i> {{client.email}} <br>
  </mat-card-content>
  <mat-card-footer></mat-card-footer>
</mat-card>
