mat-card.client-header{
  margin-bottom: 1cm;
}

mat-card.case-list{
  margin-bottom: 0.3cm;
}

.my-icon{
  font-size: 18px;
  vertical-align: text-top;
  /*text-align: center;*/
  color: indigo;
  padding-right: 5px;
}

.my-case-link{
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0.1cm;
}

.my-auto-size-field{
  /*display: inline-block;*/
  width: auto;
  margin-rigth: 0.3cm;
}

::ng-deep .mat-form-field:focus-within .mat-form-field-underline {
  display: block;
}

::ng-deep .mat-form-field-underline {
  display: none;
}
