<mat-card class="my-case-header">
  <mat-card-title>
    {{lawCase?.name}}
  </mat-card-title>
  <mat-card-subtitle>
    {{lawCase?.caseId}} | {{lawCase?.type}} <br>

    <a mat-flat-button routerLink="/clients/{{lawClient?.id}}">
    {{lawClient?.firstName}}
    <span *ngIf="lawClient?.nickName">{{lawClient?.nickName}}</span>
    {{lawClient?.lastName}}
    </a>
  </mat-card-subtitle>
  <mat-card-content>
     {{lawCase?.description}}
    <br>
    <i class="material-icons my-icon">call</i> <a href="tel:{{lawClient?.phoneNumber}}">{{lawClient?.phoneNumber}}</a> <br>
    <i class="material-icons my-icon">mail_outline</i> <a href="mailto:{{lawClient?.email}}">{{lawClient?.email}}</a> <br>
  </mat-card-content>
  <mat-card-footer></mat-card-footer>
</mat-card>
