.mat-card{
  margin-bottom: 0.5cm;
}

.mat-flat-button{
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0.1cm;
}

.my-icon{
  font-size: 18px;
  vertical-align: text-top;
  /*text-align: center;*/
  color: indigo;
  padding-right: 5px;
}

.example-full-width {
  width: 10cm;
}

.my-card-footer{
  margin-top: 0.05cm;
  margin-bottom: 0.1cm;
}

::ng-deep .mat-form-field:focus-within .mat-form-field-underline {
  display: block;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep .mat-card-footer{
  padding-left: 0.4cm;
}
